**Series 特点：**
- **索引：** 类似于一维数组或列表，但具有标签（索引），索引可以是任意类型默认的整数索引，没指定默认从0开始递增。
- **数据类型：** Series 可以容纳不同数据类型的元素。

In [2]:
# pandas.Series( data, index, dtype, name, copy)
""" 
data：一组数据(ndarray 类型)。
index：数据索引标签，如果不指定，默认从 0 开始。
dtype：数据类型，默认会自己判断。
name：设置名称。
copy：拷贝数据，默认为 False。
"""
import pandas as pd
a = [1,2,3,4]
print(a)
print(type(a))
b = pd.Series(a,name='numeber') # 将列表转化为Series
print(b)
print(type(b))

[1, 2, 3, 4]
<class 'list'>
0    1
1    2
2    3
3    4
Name: numeber, dtype: int64
<class 'pandas.core.series.Series'>

In [3]:
import pandas as pd
a = [1,2,3,4]
b = pd.Series(a,index=("a","b","c","d"))  # 指定索引
b

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
# 代码复现
fruits_dict={'苹果':3,'橘子':5,'火龙果':12}
a=pd.Series(fruits_dict)
print(a)
b=pd.Series(fruits_dict,index=['苹果','橘子'])
print(b)

苹果      3
橘子      5
火龙果    12
dtype: int64
苹果    3
橘子    5
dtype: int64

In [5]:
sites = {1: "Google", 9: "Baidu", 3: "Souhu"}
print(type(sites))
var = pd.Series(sites) # 将字典转化为serise,如果随意指定dtype为与实际不符的类型，会抛出valueerror异常
var

<class 'dict'>

1    Google
9     Baidu
3     Souhu
dtype: object

In [6]:
var = pd.Series(sites,index=[1,9]) # 只取字典部分,记得[]
var

1    Google
9     Baidu
dtype: object

DataFrame 是一个表格型的数据结构，它含有一组有序的列，每列可以是不同的值类型（数值、字符串、布尔型值）。DataFrame 既有行索引也有列索引，它可以被看做由 Series 组成的字典（共同用一个索引）。

**DataFrame 特点：**

1. **列和行：** DataFrame 由多个列组成，每一列都有一个名称，可以看作是一个 Series。同时，DataFrame 有一个行索引，用于标识每一行。

2. **二维结构：** DataFrame 是一个二维表格，具有行和列。可以将其视为多个 Series 对象组成的字典。

3. **列的数据类型：** 不同的列可以包含不同的数据类型，例如整数、浮点数、字符串等。

In [7]:
# 使用列表创建Dataframe

In [8]:
# 代码复现
# 用列表创建
list1=[['苹果',4],['梨',3],['香蕉',3]]
a=pd.DataFrame(list1,index=[1,2,3],columns=['名称','价格'])
print(a)
print('*'*10)
# 用字典创建
dict1={'名称':['苹果','梨','香蕉'],'价格':[4,3,3]}
b=pd.DataFrame(dict1,index=[1,2,3])  
print(b)
print('*'*10)
# 使用Series
data={
    '名称':pd.Series(['苹果','梨','香蕉']),
    '价格':pd.Series([4,3,3])
}
c=pd.DataFrame(data,index=[1,2,3]) # 这样定义索引不对，这会与0,1,2的默认索引配对，导致苹果无法输出
print(c)
print('*'*10)
# 定义索引的正确做法
data = {
    '名称': pd.Series(['苹果', '梨', '香蕉'], index=[1, 2, 3]),
    '价格': pd.Series([4, 3, 3], index=[1, 2, 3])
}
df = pd.DataFrame(data)

print(df)

   名称  价格
1  苹果   4
2   梨   3
3  香蕉   3
**********
   名称  价格
1  苹果   4
2   梨   3
3  香蕉   3
**********
    名称   价格
1    梨  3.0
2   香蕉  3.0
3  NaN  NaN
**********
   名称  价格
1  苹果   4
2   梨   3
3  香蕉   3

In [9]:
# 列表嵌套创建
data = [['张三',18],['李四',20],['王五',21]]
df = pd.DataFrame(data,columns=["姓名","年龄",])
df

   姓名  年龄
0  张三  18
1  李四  20
2  王五  21

In [10]:
# 字典嵌套列表创建
sites = {"web_name":["Google","Baidu","Souhu"], "age":[1,3,9]}
print(type(sites))
var = pd.DataFrame(sites)
var

<class 'dict'>

  web_name  age
0   Google    1
1    Baidu    3
2    Souhu    9

In [11]:
# 使用Series创建
data = {
    "name":pd.Series(["张三","李四","王五"]),
    "age":pd.Series([18,20,22]),
    "money":pd.Series([21.2,22.2,23.2])
}
data = pd.DataFrame(data)
data

  name  age  money
0   张三   18   21.2
1   李四   20   22.2
2   王五   22   23.2

In [12]:
# 读取数据
import pandas as pd
data = pd.read_csv(r"TianQi.csv")
data

             ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0     2017-01-01     5℃    -3℃    霾~晴        南风   1-2级  450    严重污染         6
1     2017-01-02     7℃    -6℃    晴~霾        南风   1-2级  246    重度污染         5
2     2017-01-03     5℃    -5℃      霾        南风   1-2级  320    严重污染         6
3     2017-01-04     6℃    -5℃      霾        北风   1-2级  360    严重污染         6
4     2017-01-05     2℃    -4℃      霾        北风   1-2级  280    重度污染         5
...          ...    ...    ...    ...       ...    ...  ...     ...       ...
1090  2019-12-27     4℃    -6℃      晴       东北风     1级   69       良         2
1091  2019-12-28     3℃    -7℃   晴~多云       东北风     1级  100       良         2
1092  2019-12-29     5℃    -7℃   多云~晴       西北风     3级  133    轻度污染         3
1093  2019-12-30    -5℃   -12℃      晴       西北风     4级   37       优         1
1094  2019-12-31    -3℃   -10℃      晴       西北风     1级   36       优         1

[1095 rows x 9 columns]

In [28]:
# 去掉DataFrme列前面的索引0,1,2，3,4
# data = data.set_index('ymd')
# 为何无法修改
data.loc['2017-01-03', 'aqiLevel'] = 7.0 
data.head()

AttributeError: 'float' object has no attribute 'loc'

索引方式	

doc基于标签（label-based）

idoc基于位置（integer-based）

语法结构	DataFrame.loc[row_indexer, column_indexer]	DataFrame.iloc[row_indexer, column_indexer]

doc使用行索引	
idoc使用列索引

doc方式

In [14]:
# 单独取两列
data.loc[data.index[0:5],['ymd','yWendu']]

          ymd yWendu
0  2017-01-01    -3℃
1  2017-01-02    -6℃
2  2017-01-03    -5℃
3  2017-01-04    -5℃
4  2017-01-05    -4℃

idoc方式

In [15]:
lindex= data.columns.get_indexer(['ymd','yWendu'])
data.iloc[0:5,lindex]

          ymd yWendu
0  2017-01-01    -3℃
1  2017-01-02    -6℃
2  2017-01-03    -5℃
3  2017-01-04    -5℃
4  2017-01-05    -4℃

### 排序

值排序和索引排序

In [16]:
data.sort_values(by='bWendu',ascending=True).head()

            ymd bWendu yWendu tianqi fengxiang fengli   aqi aqiInfo  aqiLevel
707  2018-12-09    -1℃   -10℃   多云~晴       东南风     1级  62.0       良       2.0
709  2018-12-11    -1℃   -10℃      晴       西北风     3级  56.0       良       2.0
397  2018-02-02    -1℃    -9℃      晴        北风   3-4级  32.0       优       1.0
345  2017-12-12    -1℃    -8℃     多云       东北风   1-2级  26.0       优       1.0
392  2018-01-28    -1℃    -9℃      晴       西北风   3-4级  55.0       良       2.0

In [17]:
# 多值排序
data.sort_values(by=['ymd','yWendu'],ascending=True).head()

          ymd bWendu yWendu tianqi fengxiang fengli    aqi aqiInfo  aqiLevel
0  2017-01-01     5℃    -3℃    霾~晴        南风   1-2级  450.0    严重污染       6.0
1  2017-01-02     7℃    -6℃    晴~霾        南风   1-2级  246.0    重度污染       5.0
2  2017-01-03     5℃    -5℃      霾        南风   1-2级  320.0    严重污染       6.0
3  2017-01-04     6℃    -5℃      霾        北风   1-2级  360.0    严重污染       6.0
4  2017-01-05     2℃    -4℃      霾        北风   1-2级  280.0    重度污染       5.0

In [18]:
# 逻辑运算
data['aqiLevel'].add(10).head()

0    16.0
1    15.0
2    16.0
3    16.0
4    15.0
Name: aqiLevel, dtype: float64

In [19]:
# 逻辑运算
data['aqiLevel'].add(10).head()

0    16.0
1    15.0
2    16.0
3    16.0
4    15.0
Name: aqiLevel, dtype: float64

In [20]:
# 逻辑运算
data['aqiLevel'].add(10).head()

0    16.0
1    15.0
2    16.0
3    16.0
4    15.0
Name: aqiLevel, dtype: float64

In [21]:
# 逻辑运算
data['aqiLevel'].add(10).head()

0    16.0
1    15.0
2    16.0
3    16.0
4    15.0
Name: aqiLevel, dtype: float64

In [22]:
# 逻辑运算
data['aqiLevel'].add(10).head()

0    16.0
1    15.0
2    16.0
3    16.0
4    15.0
Name: aqiLevel, dtype: float64

In [23]:
# 逻辑运算
data['aqiLevel'].add(10).head()

0    16.0
1    15.0
2    16.0
3    16.0
4    15.0
Name: aqiLevel, dtype: float64

In [24]:
# 逻辑运算
data['aqiLevel'].add(10).head()

0    16.0
1    15.0
2    16.0
3    16.0
4    15.0
Name: aqiLevel, dtype: float64

In [25]:
# 索引排序
data.sort_index().head()

TypeError: '<' not supported between instances of 'str' and 'int'

#### 2024-1-16

2024.11.15 学习到此

In [ ]:
import pandas as pd

# 创建数据
data = {
    '姓名': ['张三', '李四', '王五', '赵六', '钱七'],
    '年龄': [25, 30, 35, 40, 45],
    '性别': ['男', '男', '女', '男', '女'],
    '存款': [10000, 20000, 30000, 40000, 50000]
}

# 将数据转换为DataFrame
df = pd.DataFrame(data)

# 将DataFrame写入Excel文件
df.to_excel('b.xlsx', index=False)

print("Excel文件生成成功！")

NameError: name 'NaN' is not defined

In [ ]:
# 读取数据
import pandas as pd
df = pd.read_csv("TianQi.csv")
df.head() # 只读取前面五行

          ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2017-01-01     5℃    -3℃    霾~晴        南风   1-2级  450    严重污染         6
1  2017-01-02     7℃    -6℃    晴~霾        南风   1-2级  246    重度污染         5
2  2017-01-03     5℃    -5℃      霾        南风   1-2级  320    严重污染         6
3  2017-01-04     6℃    -5℃      霾        北风   1-2级  360    严重污染         6
4  2017-01-05     2℃    -4℃      霾        北风   1-2级  280    重度污染         5

In [ ]:
# 设定索引为日期，方便按日期筛选
df.set_index('ymd', inplace=True)
df.index
data.[data['open']]

Index(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04', '2017-01-05',
       '2017-01-06', '2017-01-07', '2017-01-08', '2017-01-09', '2017-01-10',
       ...
       '2019-12-22', '2019-12-23', '2019-12-24', '2019-12-25', '2019-12-26',
       '2019-12-27', '2019-12-28', '2019-12-29', '2019-12-30', '2019-12-31'],
      dtype='object', name='ymd', length=1095)

In [ ]:
# 将温度的后缀℃去掉
# 逗号左边表示行的选取条件，右边表示列的选取条件。当逗号左边为冒号 : 时，代表选取所有行。
df.loc[:,'bWendu']=df['bWendu'].str.replace('℃','').astype(int)

AttributeError: Can only use .str accessor with string values!

In [ ]:
df.head()

           bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2017-01-01      5     -3    霾~晴        南风   1-2级  450    严重污染         6
2017-01-02      7     -6    晴~霾        南风   1-2级  246    重度污染         5
2017-01-03      5     -5      霾        南风   1-2级  320    严重污染         6
2017-01-04      6     -5      霾        北风   1-2级  360    严重污染         6
2017-01-05      2     -4      霾        北风   1-2级  280    重度污染         5

In [ ]:
# 得到单个值
df.loc['2017-01-03', 'bWendu']

np.float64(6.0)

In [ ]:
# 得到一个Series
df.loc['2017-01-03', ['bWendu', 'yWendu']]

bWendu     5
yWendu    -5
Name: 2017-01-03, dtype: object

In [ ]:
# 得到DataFrame
df.loc[['2017-01-03','2017-01-04','2017-01-05'], ['bWendu', 'yWendu']]

           bWendu yWendu
ymd
2017-01-03      5     -5
2017-01-04      6     -5
2017-01-05      2     -4

In [ ]:
# 行和列都按区间查询
df.loc['2017-01-03':'2017-01-05', 'bWendu':'fengxiang']

           bWendu yWendu tianqi fengxiang
ymd
2017-01-03      5     -5      霾        南风
2017-01-04      6     -5      霾        北风
2017-01-05      2     -4      霾        北风

In [ ]:
df.loc[df["yWendu"]<-10, :] # 布尔查询

           bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-01-23     -4    -12      晴       西北风   3-4级   31       优         1
2018-01-24     -4    -11      晴       西南风   1-2级   34       优         1
2018-01-25     -3    -11     多云       东北风   1-2级   27       优         1
2018-12-26     -2    -11   晴~多云       东北风     2级   26       优         1
2018-12-27     -5    -12   多云~晴       西北风     3级   48       优         1
2018-12-28     -3    -11      晴       西北风     3级   40       优         1
2018-12-29     -3    -12      晴       西北风     2级   29       优         1
2018-12-30     -2    -11   晴~多云       东北风     1级   31       优         1
2019-12-30     -5    -12      晴       西北风     4级   37       优         1

In [ ]:
## 查询最高温度小于30度，并且最低温度大于16度，并且是晴天，并且天气为优的数据
df.loc[(df["bWendu"]<=30) & (df["yWendu"]>=16) & (df["tianqi"]=='晴') & (df["aqiLevel"]==1), :]

           bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2017-08-29     25     16      晴       西南风   1-2级   42       优         1
2017-09-11     29     16      晴        北风   1-2级   43       优         1
2017-09-17     29     16      晴        南风   1-2级   39       优         1
2018-08-24     30     20      晴        北风   1-2级   40       优         1
2018-09-07     27     16      晴       西北风   3-4级   22       优         1
2019-08-24     30     18      晴       西南风     2级   50       优         1
2019-08-30     30     18      晴       西北风     2级   25       优         1

In [ ]:
# 新增数据列
# 注意，df["bWendu"]其实是一个Series，后面的减法返回的是Series
df.loc[:, "wencha"] = df["bWendu"] - df["yWendu"]
df.head()

           bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel wencha
ymd
2017-01-01      5     -3    霾~晴        南风   1-2级  450    严重污染         6      8
2017-01-02      7     -6    晴~霾        南风   1-2级  246    重度污染         5     13
2017-01-03      5     -5      霾        南风   1-2级  320    严重污染         6     10
2017-01-04      6     -5      霾        北风   1-2级  360    严重污染         6     11
2017-01-05      2     -4      霾        北风   1-2级  280    重度污染         5      6

In [ ]:
# 统计函数
# 读取数据
import pandas as pd
df = pd.read_csv("D:\课程\TianQi.csv")
df.set_index('ymd', inplace=True)
# 将温度的后缀℃去掉
df.loc[:, "bWendu"] = df["bWendu"].str.replace("℃", "").astype('int32')
df.loc[:, "yWendu"] = df["yWendu"].str.replace("℃", "").astype('int32')
# df.head()
df.describe()

               aqi     aqiLevel
count  1095.000000  1095.000000
mean     79.936986     2.061187
std      51.320164     1.000411
min      15.000000     1.000000
25%      46.000000     1.000000
50%      67.000000     2.000000
75%      99.000000     2.000000
max     450.000000     6.000000

In [ ]:
## 查看单个Series的数据
df["bWendu"].mean()

19.157990867579908

In [ ]:
# 最高温
df["bWendu"].max()

38

In [ ]:
# 最低温
df["bWendu"].min()

-5

In [ ]:
df["fengxiang"].unique() # 去重

array(['南风', '北风', '无持续风向', '东南风', '西南风', '东北风', '东风', '西北风', '西风'],
      dtype=object)

In [ ]:
# 按值计数
df["fengxiang"].value_counts()

fengxiang
南风       264
西南风      192
西北风      171
东南风      157
东北风      131
北风       128
东风        35
西风        10
无持续风向      7
Name: count, dtype: int64

In [ ]:
# 缺失值处理
stu = pd.read_excel("student_excel.xlsx", skiprows=2)
stu

    Unnamed: 0   姓名   科目    分数
0          NaN   小明   语文  85.0
1          NaN  NaN   数学  80.0
2          NaN  NaN   英语  90.0
3          NaN  NaN  NaN   NaN
4          NaN   小王   语文  85.0
5          NaN  NaN   数学   NaN
6          NaN  NaN   英语  90.0
7          NaN  NaN  NaN   NaN
8          NaN   小刚   语文  85.0
9          NaN  NaN   数学  80.0
10         NaN  NaN   英语  90.0

In [ ]:
# 检测空值
stu.isnull()

    Unnamed: 0     姓名     科目     分数
0         True  False  False  False
1         True   True  False  False
2         True   True  False  False
3         True   True   True   True
4         True  False  False  False
5         True   True  False   True
6         True   True  False  False
7         True   True   True   True
8         True  False  False  False
9         True   True  False  False
10        True   True  False  False

In [ ]:
stu["分数"].notnull()

0      True
1      True
2      True
3     False
4      True
5     False
6      True
7     False
8      True
9      True
10     True
Name: 分数, dtype: bool

In [ ]:
# 筛选没有空分数的所有行
stu.loc[stu["分数"].notnull(), :]

    Unnamed: 0   姓名  科目    分数
0          NaN   小明  语文  85.0
1          NaN  NaN  数学  80.0
2          NaN  NaN  英语  90.0
4          NaN   小王  语文  85.0
6          NaN  NaN  英语  90.0
8          NaN   小刚  语文  85.0
9          NaN  NaN  数学  80.0
10         NaN  NaN  英语  90.0

In [ ]:
stu.dropna(axis="columns", how='all', inplace=True) # 删除全是空值的列
stu

     姓名   科目    分数
0    小明   语文  85.0
1   NaN   数学  80.0
2   NaN   英语  90.0
3   NaN  NaN   NaN
4    小王   语文  85.0
5   NaN   数学   NaN
6   NaN   英语  90.0
7   NaN  NaN   NaN
8    小刚   语文  85.0
9   NaN   数学  80.0
10  NaN   英语  90.0

In [ ]:
stu.dropna(axis="index", how='all', inplace=True) # 删除全是空值的行
stu

     姓名  科目    分数
0    小明  语文  85.0
1   NaN  数学  80.0
2   NaN  英语  90.0
4    小王  语文  85.0
5   NaN  数学   NaN
6   NaN  英语  90.0
8    小刚  语文  85.0
9   NaN  数学  80.0
10  NaN  英语  90.0

In [ ]:
stu.loc[:, '分数'] = stu['分数'].fillna(0) # 将分数列为空的填充为0分
stu

     姓名  科目    分数
0    小明  语文  85.0
1   NaN  数学  80.0
2   NaN  英语  90.0
4    小王  语文  85.0
5   NaN  数学   0.0
6   NaN  英语  90.0
8    小刚  语文  85.0
9   NaN  数学  80.0
10  NaN  英语  90.0

In [ ]:
stu.loc[:, '姓名'] = stu['姓名'].fillna(method="ffill") # 将姓名的缺失值填充
stu

C:\Users\Administrator\AppData\Local\Temp\ipykernel_236896\435675929.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  stu.loc[:, '姓名'] = stu['姓名'].fillna(method="ffill") # 将姓名的缺失值填充

    姓名  科目    分数
0   小明  语文  85.0
1   小明  数学  80.0
2   小明  英语  90.0
4   小王  语文  85.0
5   小王  数学   0.0
6   小王  英语  90.0
8   小刚  语文  85.0
9   小刚  数学  80.0
10  小刚  英语  90.0

In [ ]:
stu.to_excel("student_excel_clean.xlsx",index=False) # 将清洗好的excel保存

In [ ]:
# 排序
# 按空气质量等级、最高温度排序，默认升序
import pandas as pd
df = pd.read_csv("TianQi.csv")
df.set_index('ymd', inplace=True)
# 将温度的后缀℃去掉
df.loc[:, "bWendu"] = df["bWendu"].str.replace("℃", "").astype('int32')
df.loc[:, "yWendu"] = df["yWendu"].str.replace("℃", "").astype('int32')

df.sort_values(by=["aqiLevel", "bWendu"])
df

           bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2017-01-01      5     -3    霾~晴        南风   1-2级  450    严重污染         6
2017-01-02      7     -6    晴~霾        南风   1-2级  246    重度污染         5
2017-01-03      5     -5      霾        南风   1-2级  320    严重污染         6
2017-01-04      6     -5      霾        北风   1-2级  360    严重污染         6
2017-01-05      2     -4      霾        北风   1-2级  280    重度污染         5
...           ...    ...    ...       ...    ...  ...     ...       ...
2019-12-27      4     -6      晴       东北风     1级   69       良         2
2019-12-28      3     -7   晴~多云       东北风     1级  100       良         2
2019-12-29      5     -7   多云~晴       西北风     3级  133    轻度污染         3
2019-12-30     -5    -12      晴       西北风     4级   37       优         1
2019-12-31     -3    -10      晴       西北风     1级   36       优         1

[1095 rows x 8 columns]

In [ ]:
# 分别指定升序和降序
df.sort_values(by=["aqiLevel", "bWendu"], ascending=[True, False])

           bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2017-08-07     35     24   多云~晴        南风   1-2级   40       优         1
2018-06-28     35     24   多云~晴        北风   1-2级   33       优         1
2019-06-29     35     23     多云       西北风     3级   40       优         1
2019-07-01     35     23   晴~多云       东北风     1级   36       优         1
2017-08-06     34     24   多云~晴        南风   1-2级   42       优         1
...           ...    ...    ...       ...    ...  ...     ...       ...
2017-02-04      9     -2      晴        北风   1-2级  303    严重污染         6
2017-01-04      6     -5      霾        北风   1-2级  360    严重污染         6
2017-01-01      5     -3    霾~晴        南风   1-2级  450    严重污染         6
2017-01-03      5     -5      霾        南风   1-2级  320    严重污染         6
2017-01-28      4     -4     多云        南风   1-2级  354    严重污染         6

[1095 rows x 8 columns]

In [ ]:
import pandas as pd

# 创建两个DataFrame
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                    'value': [1, 2, 3, 4]})
df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'],
                    'value': [5, 6, 7, 8]})

# 使用merge函数进行合并
result = pd.merge(df1, df2,on="key",how="outer")
print(df1)
print(df2)
print(result)

  key  value
0   A      1
1   B      2
2   C      3
3   D      4
  key  value
0   B      5
1   D      6
2   E      7
3   F      8
  key  value_x  value_y
0   A      1.0      NaN
1   B      2.0      5.0
2   C      3.0      NaN
3   D      4.0      6.0
4   E      NaN      7.0
5   F      NaN      8.0

In [ ]:
import cv2
import time
cap=cv2.VideoCapture(0)
cap.set(cv2.CAP_PROP_FRAME_WIDTH,640)
cap.set(cv2.CAP_PROP_FRAME_WIDTH,480)
cv2.namedWindow('image_win',flags=cv2.WINDOW_NORMAL | cv2.WINDOW_KEEPRATIO)
cv2.setWindowProperty('image_win', cv2.WND_PROP_FULLSCREEN, cv2.WINDOW_FULLSCREEN) # 全屏展示
ret,frame=cap.read()
if not set:
    print('未获取到图像')
else:
    cv2.imshow('image_win',frame)
    cv2.waitKey(200)
    cv2.imwrite('obj1.jpg',frame)
cap.release()
cv2.destroyAllWindows()

ImportError: DLL load failed while importing cv2: 找不到指定的模块。